body * {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 85px;
}


/* 網頁Header區塊 */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255,.8);
}

header nav {
    width: 990px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 39px;
}

header nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    transition: .3s;
}

header nav a.active,
header nav a:hover {
    color: #FBC264;
}

/* 主要內容區塊 */
main {
    width: 990px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 112px;
}

main div {
    width: 50%;
}

main div h1 {
    font-size: 60px;
    color: #000;
    font-weight: 400;
    margin-bottom: 24px;
}

main div p {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.30);
    font-weight: 400;
    margin-bottom: 24px;
}

main div p .blue {
    color: #0000FF;
}

main div p .red {
    color: #F07474;
}

/* 社群媒體Icon區 */
main div ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 52px;
    padding: 20px 0 40px 0;
}

main div ul li {}

main div ul li a {}

main div ul li a img {
    width: 44px;
    height: 44px;
}

/* 所有作品 */
main div .btn {
    padding: 20px 40px;
    border-radius: 10px;
    background: #ffcc77;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

/* 圖片*/
.pic-box img {
    width: auto;
    max-width: 100%;
}
